<div class="comment-item">
<!-- put this in your model, not here: comment.user.username, etc. -->
  <a href="/users/<%= comment.user.id %>"><%= comment.user.username %></a>
  <p><%= comment.body %></p>
</div>
