<section>
    <form id="new-user-form" method="User" action="/users">
       <input type="hidden" name="user[user_id]" value='1'>


      <div>
         <input type="text" name="user[username]" placeholder="Username"
      </div>
      <div>
         <input type="text" name="user[password]" placeholder="Password"
      </div>

      <div>
        <TEXTAREA NAME="user[body]" COLS=40 ROWS=6 placeholder="Optional"></TEXTAREA>
      </div>
      <div>
        <input type="submit" value="Add user">
      </div>
    </form>
</section>
