  <nav>
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <% if logged_in? %>
      <li><a href="/posts/new">New Post</a></li>
      <li><a href="/logout">Logout</a></li>
      <% else %>
      <li><a href="/users/new">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
      <% end %>

    </ul>
  </nav
